{% extends "base.html" %}

{% block title %}Companies List{% endblock %}

{% block content %}
    <h1 class="mt-4 mb-4">Companies List</h1>
    <ul class="list-group">
        {% for company in companies_list %}
        <li class="list-group-item">
            <strong>{{ company.title }}</strong><br>
            {% for key, value in company.__dict__.items() %}
                {% if not key.startswith('_') %}
                    {{ key.replace('_', ' ').capitalize() }}:
                    {% if value is number and value is float %}
                        {{ value | round(3) }}
                    {% else %}
                        {{ value }}
                    {% endif %}
                    |
                {% endif %}
            {% endfor %}
        </li>
        {% else %}
        <li class="list-group-item">No companies available.</li>
        {% endfor %}
    </ul>
{% endblock %}
